global
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http-in
    bind *:80

    acl path_usuarios  path_beg /api/usuarios
    acl path_catalogo  path_beg /api/catalogo
    acl path_ordenes   path_beg /api/ordenes
    acl path_pagos     path_beg /api/pagos
    acl path_credito   path_beg /api/credito

    use_backend usuarios_back if path_usuarios
    use_backend catalogo_back if path_catalogo
    use_backend ordenes_back  if path_ordenes
    use_backend pagos_back    if path_pagos
    use_backend credito_back  if path_credito
    
    default_backend frontend_back

backend frontend_back
    server s1 frontend:5173 check

backend usuarios_back
    server s1 usuarios:3001 check

backend catalogo_back
    server s1 catalogo:3002 check

backend ordenes_back
    server s1 ordenes:3003 check

backend pagos_back
    server s1 pagos:3004 check

backend credito_back
    server s1 credito:3005 check
