global
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s

frontend http-in
    bind *:80

    acl path_usuarios  path_beg /api/usuarios
    acl path_catalogo  path_beg /api/catalogo
    acl path_ordenes   path_beg /api/ordenes
    acl path_pagos      path_beg /api/pagos
    acl path_credito   path_beg /api/credito

    use_backend usuarios_back if path_usuarios
    use_backend catalogo_back if path_catalogo
    use_backend ordenes_back  if path_ordenes
    use_backend pagos_back    if path_pagos
    use_backend credito_back  if path_credito

    default_backend frontend_back

backend frontend_back
    server swarm_frontend frontend:5173

backend usuarios_back
    server swarm_usuarios usuarios:3001

backend catalogo_back
    server swarm_catalogo catalogo:3002

backend ordenes_back
    server swarm_ordenes ordenes:3003

backend pagos_back
    server swarm_pagos pagos:3004

backend credito_back
    server swarm_credito credito:3005
