global
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client 50s
    timeout server 50s
    option forwardfor
    option http-server-close

frontend stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
    stats auth admin:buyza2024
    stats hide-version

frontend http-in
    bind *:80

    acl path_usuarios  path_beg /api/usuarios
    acl path_catalogo  path_beg /api/catalogo
    acl path_ordenes   path_beg /api/ordenes
    acl path_pagos     path_beg /api/pagos
    acl path_credito   path_beg /api/credito

    use_backend usuarios_back if path_usuarios
    use_backend catalogo_back if path_catalogo
    use_backend ordenes_back  if path_ordenes
    use_backend pagos_back    if path_pagos
    use_backend credito_back  if path_credito

    default_backend frontend_back

backend frontend_back
    balance roundrobin
    server swarm_frontend frontend:5173

backend usuarios_back
    balance roundrobin
    server usuarios_1 usuarios:3001 check inter 5s fall 3 rise 2
    server usuarios_2 usuarios:3001 check inter 5s fall 3 rise 2

backend catalogo_back
    balance roundrobin
    server catalogo_1 catalogo:3002 check inter 5s fall 3 rise 2
    server catalogo_2 catalogo:3002 check inter 5s fall 3 rise 2

backend ordenes_back
    balance roundrobin
    server ordenes_1 ordenes:3003 check inter 5s fall 3 rise 2
    server ordenes_2 ordenes:3003 check inter 5s fall 3 rise 2

backend pagos_back
    balance roundrobin
    server pagos_1 pagos:3004 check inter 5s fall 3 rise 2
    server pagos_2 pagos:3004 check inter 5s fall 3 rise 2

backend credito_back
    balance roundrobin
    server credito_1 credito:3005 check inter 5s fall 3 rise 2
    server credito_2 credito:3005 check inter 5s fall 3 rise 2
